@model MicroStackOverflow.Models.PostModel
@{
    ViewBag.Title = "Add";
}
<div>
   @HtmlBlocks.NavPillForPetaPoco(this)
</div>
@Html.Partial("_EditPostForm",Model)
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
