@model dynamic
@{
    ViewBag.Title = "title";
}
<div>
    @HtmlBlocks.VenueNavPillForPetaPoco(this)
</div>
<div>
    <hgroup class="title">
        <h2>Peta Poco posts</h2>
    </hgroup>
    <div class="well row-fluid">
        <div class="span6">
            <span> This section of the site uses Peta Poco to access the data </span>
        </div>
    </div>
</div>