<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=tron\sqlexpressonmbp;Initial Catalog=StackOverflow;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="pocoNameSpace" value="Entities" />
    <add key="repositoriesNameSpace" value="DapperRepositories" />
  </appSettings>
</configuration>

