@model MicroStackOverflow.Models.PostModel
@{
    ViewBag.Title = "Add";
}
<div>
   @HtmlBlocks.NavPillForDapper(this)
</div>

@Html.Partial("_AddPostForm",Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
